name: CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-lib:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build C++ Library
        uses: lukka/run-cmake@main
        with:
          buildDirectory: '${{ github.workspace }}/build/'
          cmakeListsTxtPath: '${{ github.workspace }}/srcs/CMakeLists.txt'
      - name: "Check files"
        run: ls -lisa build/lib
